﻿<%@ Page Title="" Language="C#" MasterPageFile="~/chat/Site1.Master" AutoEventWireup="true" CodeBehind="contrasenaRecuperada.aspx.cs" Inherits="Proyecto1.chat.contrasenaNueva" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .auto-style1 {
            height: 48px;
        }
        .auto-style2 {
            height: 36px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h1 class="auto-style1">
        &nbsp;Recupera tu contraseña</h1>
    <h3 class="auto-style2">
        Su contraseña es: <asp:Label ID="contrasena" runat="server"></asp:Label>
    </h3>
    <p>
        <asp:Button ID="Button1" runat="server" BackColor="#FF9900" Text="Aceptar" OnClick="Button1_Click" />
    </p>
</asp:Content>
