﻿<%@ Page Title="" Language="C#" MasterPageFile="~/chat/Site1.Master" AutoEventWireup="true" CodeBehind="creada.aspx.cs" Inherits="Proyecto1.chat.creada" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .auto-style1 {
            height: 77px;
        }
        .auto-style2 {
            margin-left: 462px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h1 class="auto-style1">
        Cuenta creada con exito! Disfruta del chat y comparte con otros.</h1>
    <p>
        <asp:Button ID="botonDefault" runat="server" BackColor="#FF9900" CssClass="auto-style2" OnClick="botonDefault_Click" Text="Ingresa al chat" Width="152px" />
    </p>
</asp:Content>
