﻿<%@ Page Title="" Language="C#" MasterPageFile="~/chat/Site1.Master" AutoEventWireup="true" CodeBehind="eliminada.aspx.cs" Inherits="Proyecto1.chat.eliminada" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .auto-style1 {
            height: 44px;
        }
        .auto-style2 {
            height: 59px;
        }
        .auto-style3 {
            margin-left: 514px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h1 class="auto-style2">
        Cuenta eliminada con exito! Adios.</h1>
    <p class="auto-style1">
        <asp:Button ID="botonEliminada" runat="server" BackColor="#FF9900" CssClass="auto-style3" OnClick="botonEliminada_Click" Text="Continuar" Width="110px" />
    </p>
</asp:Content>
