﻿<%@ Page Title="" Language="C#" MasterPageFile="~/chat/Site1.Master" AutoEventWireup="true" CodeBehind="modificada.aspx.cs" Inherits="Proyecto1.chat.modificada" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .auto-style1 {
            height: 54px;
        }
        .auto-style2 {
            margin-left: 469px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h1 class="auto-style1">
        Se realizaron los cambios con exito con exito!</h1>
    <p>
        <asp:Button ID="botonContinuar" runat="server" BackColor="#FF9900" CssClass="auto-style2" OnClick="botonContinuar_Click" Text="Continuar" Width="166px" />
    </p>
</asp:Content>
